*,body{
	margin:0;
	padding:0;
}
body,html{
	font-family:'Poppins', sans serif;
	height:100%;
	width:100%;
}
header{
	
	width:100%;
	height:100px;
	background:gray;
	align-items:center;
	display:flex;
	float: right;
    padding-right: 10px;
}
a.btn{
	text-decoration:none;
	padding: 5px 5px;
	float: right;
}
.primary{
	justify-content:center;
	width:120px;
	height:20px;
	border-radius:5px;
    color:black;
	text-align:center;
	align-items:center;
	margin:10px;
	border:2px solid black;
	background-color: ivory;

}
.bottom{
	width:100%;
	height:60px;
	color:white;
	background:#darkgray;
	align-items:center;
	display:flex;
	justify-content:center;
}
.logo{
	padding: 20px;
}
.butoane{
	justify-content: right;
}
.container{
	background-color:darkgray;
}
.table{
	border-radius: 5px;
	border-collapse: collapse;
    padding-right: 10%;
	padding-left: 10%;
}
th, td {
    background-color: ivory;
    border-radius: 5px;
    padding-right: 10%;
	padding-left: 10%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}